Node-Red Flow/Backup Flow.txt
[{"id":"48e1000b.69613","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"f362f592.f96bf8","type":"tab","label":"Node-Red Dashboard","disabled":false,"info":""},{"id":"fc7456a6.817a08","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com/websockets","key":"62cb77b6f4b74863a9efbcf6e013f3a5","dbg_all":true,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"dcd43682.34bd28","type":"mqtt-broker","z":"","name":"tes","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f9ad1707.b983e8","type":"firebase config","z":"","firebaseurl":"aiy-voice-kit-217919","loginType":"none"},{"id":"d83283ec.32e55","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff8000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ff8000","edited":true},"page-titlebar-backgroundColor":{"value":"#ff8000","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffa64d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff8000","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"35df1462.3b204c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e26c6a1f.20aa68","type":"ui_spacer","name":"spacer","group":"96f86adb.0fbdd8","order":1,"width":1,"height":1},{"id":"39e9cbdd.7bd2b4","type":"ui_group","z":"","name":"Edit Nama Wajah disini","tab":"35df1462.3b204c","order":1,"disp":true,"width":"9","collapse":false},{"id":"11942395.124b0c","type":"ui_group","z":"","name":"Information Bar","tab":"35df1462.3b204c","order":2,"disp":true,"width":"6","collapse":false},{"id":"85fc555b.7d55f8","type":"ui_group","z":"","name":"Face Training","tab":"35df1462.3b204c","order":3,"disp":true,"width":"6","collapse":false},{"id":"c3592408.ac62d8","type":"ui_tab","z":"","name":"History","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2f72648f.3ca40c","type":"ui_group","z":"","name":"History","tab":"c3592408.ac62d8","order":1,"disp":true,"width":"13","collapse":false},{"id":"4c578d29.9ac234","type":"ui_spacer","name":"spacer","group":"39e9cbdd.7bd2b4","order":1,"width":1,"height":1},{"id":"bdc5c653.9e2f48","type":"blynk-ws-in-write","z":"48e1000b.69613","name":"Button Lock and Unlock Manually","pin":"1","pin_all":0,"client":"fc7456a6.817a08","x":230,"y":500,"wires":[["c2b04df5.9f677"]]},{"id":"6d386aaa.9692b4","type":"rpi-gpio out","z":"48e1000b.69613","name":"","pin":"18","set":true,"level":"1","freq":"","out":"out","x":368,"y":188.0000057220459,"wires":[]},{"id":"26d171ed.32996e","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/test","qos":"0","broker":"dcd43682.34bd28","x":150,"y":560,"wires":[["c2b04df5.9f677"]]},{"id":"16002ebc.bc1fd1","type":"blynk-ws-out-write","z":"48e1000b.69613","name":"Write Button Lock","pin":"1","pinmode":0,"client":"fc7456a6.817a08","x":400,"y":307.99998474121094,"wires":[]},{"id":"ab24e938.403728","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/id","qos":"0","broker":"dcd43682.34bd28","x":810,"y":680,"wires":[["eed52441.9b5848","d4954394.0feef","a6b671c9.fb03d"]]},{"id":"256ff731.716c08","type":"blynk-ws-out-lcd","z":"48e1000b.69613","name":"","pin":"2","client":"fc7456a6.817a08","x":1190,"y":740,"wires":[],"inputLabels":["msg.text"]},{"id":"c2b04df5.9f677","type":"mqtt out","z":"48e1000b.69613","name":"","topic":"dev/condition","qos":"0","retain":"","broker":"dcd43682.34bd28","x":630,"y":560,"wires":[]},{"id":"ea67ba6b.880308","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/condition","qos":"0","broker":"dcd43682.34bd28","x":158,"y":148.0000057220459,"wires":[["6d386aaa.9692b4","16002ebc.bc1fd1","c72999e0.35ca88","69b8872a.d035a8"]]},{"id":"c72999e0.35ca88","type":"function","z":"48e1000b.69613","name":"Condition","func":"if(msg.payload==1)\n    msg.payload='locked'\nelse\n    msg.payload='unlocked'\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":148.0000057220459,"wires":[["e7851c10.b97b4","9b19c524.719878"]]},{"id":"8cd7b534.e274e8","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/anyHuman","qos":"0","broker":"dcd43682.34bd28","x":840,"y":560,"wires":[["126f15c5.f3b4aa"]]},{"id":"247c81f8.137dee","type":"comment","z":"48e1000b.69613","name":"Melakukan setting pada servo","info":"","x":200,"y":60,"wires":[]},{"id":"67cb9c21.a73524","type":"blynk-ws-in-write","z":"48e1000b.69613","name":"ID Name Input","pin":"3","pin_all":0,"client":"fc7456a6.817a08","x":1510,"y":240,"wires":[["b79055ff.64c188"]]},{"id":"af8eb7d8.c388d8","type":"blynk-ws-in-write","z":"48e1000b.69613","name":"Button Training","pin":"5","pin_all":0,"client":"fc7456a6.817a08","x":840,"y":280,"wires":[["9e7feeac.d6c2c","62ea21c2.5f42a"]]},{"id":"9e7feeac.d6c2c","type":"exec","z":"48e1000b.69613","command":"sudo python3 /home/pi/AIY-voice-kit-python/src/examples/face_recognition/FacialRecognition/02_face_training_mod.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Face Training python","x":860,"y":360,"wires":[["21b0fc21.61ca14","de35565f.e55668"],[],[]]},{"id":"21b0fc21.61ca14","type":"function","z":"48e1000b.69613","name":"Olah LCD","func":"msg.clear=true\nmsg.text= msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":340,"wires":[["c0345700.3602d8"]]},{"id":"c0345700.3602d8","type":"blynk-ws-out-lcd","z":"48e1000b.69613","name":"","pin":"2","client":"fc7456a6.817a08","x":1250,"y":280,"wires":[],"inputLabels":["msg.text"]},{"id":"31e0bda1.96ee52","type":"blynk-ws-out-write","z":"48e1000b.69613","name":"Write Button Training","pin":"5","pinmode":0,"client":"fc7456a6.817a08","x":1320,"y":360,"wires":[]},{"id":"de35565f.e55668","type":"function","z":"48e1000b.69613","name":"Olah Payload","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":420,"wires":[["31e0bda1.96ee52"]]},{"id":"e7851c10.b97b4","type":"function","z":"48e1000b.69613","name":"Olah LCD","func":"msg.clear=true\nmsg.text= msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["90ef9b53.2eac58"]]},{"id":"90ef9b53.2eac58","type":"blynk-ws-out-lcd","z":"48e1000b.69613","name":"","pin":"2","client":"fc7456a6.817a08","x":590,"y":160,"wires":[],"inputLabels":["msg.text"]},{"id":"a1ea0026.277ea","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/confidence","qos":"0","broker":"dcd43682.34bd28","x":840,"y":800,"wires":[["bd19a7dd.d94b38","5528f16e.953b1"]]},{"id":"62ea21c2.5f42a","type":"function","z":"48e1000b.69613","name":"Olah LCD","func":"msg.clear=true\nmsg.text= 'wait..'\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":280,"wires":[["c0345700.3602d8"]]},{"id":"6bf5b952.7ffc98","type":"function","z":"48e1000b.69613","name":"ID","func":"msg.text1=\"id:\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":740,"wires":[["256ff731.716c08"]]},{"id":"9b19c524.719878","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/Condition","method":"set","value":"msg.payload","priority":"msg.priority","x":530,"y":220,"wires":[[]]},{"id":"126f15c5.f3b4aa","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/Somebody","method":"set","value":"msg.payload","priority":"msg.priority","x":1030,"y":560,"wires":[[]]},{"id":"41bda992.54bde8","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1210,"y":680,"wires":[[]]},{"id":"bd19a7dd.d94b38","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/Confidence","method":"set","value":"msg.payload","priority":"msg.priority","x":1030,"y":800,"wires":[[]]},{"id":"69b8872a.d035a8","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/GoogleDoorCommand","method":"set","value":"msg.payload","priority":"msg.priority","x":358,"y":248.0000057220459,"wires":[[]]},{"id":"e19c306a.99597","type":"firebase.on","z":"48e1000b.69613","name":"Google Assistant Command","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/GoogleDoorCommand","atStart":true,"eventType":"value","queries":[],"x":220,"y":440,"wires":[["c2b04df5.9f677"]]},{"id":"9635223c.8d6d8","type":"hostip","z":"48e1000b.69613","name":"Host IP","x":960,"y":160,"wires":[["f8f4f603.a13ec8"]]},{"id":"565b5cde.c30044","type":"blynk-ws-in-write","z":"48e1000b.69613","name":"Test IP","pin":"7","pin_all":0,"client":"fc7456a6.817a08","x":810,"y":160,"wires":[["cfc5e362.055b2"]]},{"id":"f8f4f603.a13ec8","type":"function","z":"48e1000b.69613","name":"Olah IP","func":"msg.clear=true\nmsg.text= msg.payload[0].address\nmsg.payload= msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":160,"wires":[["87dbba53.60b408"]]},{"id":"87dbba53.60b408","type":"blynk-ws-out-lcd","z":"48e1000b.69613","name":"","pin":"2","client":"fc7456a6.817a08","x":1290,"y":160,"wires":[],"inputLabels":["msg.text"]},{"id":"cfc5e362.055b2","type":"trigger","z":"48e1000b.69613","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":880,"y":120,"wires":[["9635223c.8d6d8"]]},{"id":"b79055ff.64c188","type":"mqtt out","z":"48e1000b.69613","name":"","topic":"dev/NameCapture","qos":"0","retain":"","broker":"dcd43682.34bd28","x":1719.310417175293,"y":239.50321197509766,"wires":[]},{"id":"6d561e2a.99d34","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/information","qos":"0","broker":"dcd43682.34bd28","x":1520,"y":480,"wires":[["e4fd327c.912c7"]]},{"id":"e4fd327c.912c7","type":"function","z":"48e1000b.69613","name":"Olah LCD","func":"msg.clear=true\nmsg.text= msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":480,"wires":[["9d316029.96dfc"]]},{"id":"9d316029.96dfc","type":"blynk-ws-out-lcd","z":"48e1000b.69613","name":"","pin":"2","client":"fc7456a6.817a08","x":1890,"y":480,"wires":[],"inputLabels":["msg.text"]},{"id":"97143bde.199658","type":"comment","z":"48e1000b.69613","name":"Mengubah dev/condition","info":"","x":206.02338981628418,"y":376.03910064697266,"wires":[]},{"id":"34e4bfca.cc4c1","type":"comment","z":"48e1000b.69613","name":"Capture wajah untuk training","info":"","x":1555.2869911193848,"y":187.4640130996704,"wires":[]},{"id":"225502a1.618cde","type":"comment","z":"48e1000b.69613","name":"Setting parameter firebase supaya dapat terbaca google assistant","info":"","x":990,"y":500,"wires":[]},{"id":"34a03044.ee6cc","type":"comment","z":"48e1000b.69613","name":"Menampilkan informasi di LCD dari program face recognition","info":"","x":1660,"y":420,"wires":[]},{"id":"fcfbadd4.202cd","type":"comment","z":"48e1000b.69613","name":"Melakukan Training Wajah","info":"","x":870,"y":240,"wires":[]},{"id":"9716bebf.0377b","type":"comment","z":"48e1000b.69613","name":"Mendapatkan IP Address Raspi","info":"","x":890,"y":40,"wires":[]},{"id":"5b714c61.dd6464","type":"hostip","z":"f362f592.f96bf8","name":"Host IP","x":360,"y":600,"wires":[["6e306f76.df28b"]]},{"id":"d3e72e3f.2d8e5","type":"comment","z":"f362f592.f96bf8","name":"Mengganti Nama Pada ID","info":"","x":170,"y":60,"wires":[]},{"id":"4f4e9b90.622cb4","type":"ui_form","z":"f362f592.f96bf8","name":"","label":"","group":"39e9cbdd.7bd2b4","order":1,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"text","required":true},{"label":"Name","value":"name","type":"text","required":true}],"formValue":{"id":"","name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":120,"wires":[["8b604e72.45218"]]},{"id":"687b5197.a3475","type":"ui_text","z":"f362f592.f96bf8","group":"11942395.124b0c","order":1,"width":0,"height":0,"name":"","label":"Last Access","format":"{{msg.payload}}","layout":"row-center","x":310,"y":320,"wires":[]},{"id":"90c09e07.b9c6b","type":"mqtt in","z":"f362f592.f96bf8","name":"","topic":"dev/id","qos":"0","broker":"dcd43682.34bd28","x":118.6710319519043,"y":320.1154479980469,"wires":[["687b5197.a3475"]]},{"id":"62922eac.c112c","type":"mqtt in","z":"f362f592.f96bf8","name":"","topic":"dev/condition","qos":"0","broker":"dcd43682.34bd28","x":730,"y":240,"wires":[["554d9596.09194c","a4e97b21.6b09f8"]]},{"id":"b673f0e1.8f171","type":"mqtt in","z":"f362f592.f96bf8","name":"","topic":"dev/anyHuman","qos":"0","broker":"dcd43682.34bd28","x":140,"y":460,"wires":[["f8ec54c4.8cb0c8"]]},{"id":"299119fb.b7cab6","type":"ui_text","z":"f362f592.f96bf8","group":"11942395.124b0c","order":2,"width":0,"height":0,"name":"","label":"Door Condition","format":"{{msg.payload}}","layout":"row-center","x":1029.0234508514404,"y":303.03905868530273,"wires":[]},{"id":"554d9596.09194c","type":"function","z":"f362f592.f96bf8","name":"Condition","func":"if(msg.payload==1)\n    msg.payload='locked'\nelse\n    msg.payload='unlocked'\n    \nreturn msg;","outputs":1,"noerr":0,"x":865.0233860015869,"y":302.03906631469727,"wires":[["299119fb.b7cab6"]]},{"id":"2ba16f10.fabf7","type":"ui_button","z":"f362f592.f96bf8","name":"","group":"11942395.124b0c","order":8,"width":0,"height":0,"passthru":false,"label":"GET IP ADDRESS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":600,"wires":[["5b714c61.dd6464"]]},{"id":"feb7c647.d401f8","type":"ui_text","z":"f362f592.f96bf8","group":"11942395.124b0c","order":5,"width":0,"height":0,"name":"","label":"IP Address","format":"{{msg.payload}}","layout":"row-center","x":530,"y":640,"wires":[]},{"id":"6e306f76.df28b","type":"function","z":"f362f592.f96bf8","name":"Olah IP","func":"msg.payload= msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["feb7c647.d401f8"]]},{"id":"d6ca468c.c48578","type":"ui_button","z":"f362f592.f96bf8","name":"","group":"85fc555b.7d55f8","order":3,"width":0,"height":0,"passthru":false,"label":"Start Training","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":730,"y":660,"wires":[["fad1da84.5c8c88","8797b757.90e318"]]},{"id":"fad1da84.5c8c88","type":"exec","z":"f362f592.f96bf8","command":"sudo python3 /home/pi/AIY-voice-kit-python/src/examples/face_recognition/FacialRecognition/02_face_training_mod.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Face Training python","x":940,"y":700,"wires":[["bdcc6381.56954"],[],[]]},{"id":"8797b757.90e318","type":"function","z":"f362f592.f96bf8","name":"Olah Message","func":"msg.payload= 'wait..'\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":660,"wires":[["bdcc6381.56954"]]},{"id":"bdcc6381.56954","type":"ui_text","z":"f362f592.f96bf8","group":"85fc555b.7d55f8","order":1,"width":"6","height":"6","name":"","label":"Training Status","format":"{{msg.payload}}","layout":"row-center","x":1220,"y":660,"wires":[]},{"id":"803a4931.aa7d98","type":"firebase modify","z":"f362f592.f96bf8","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":120,"wires":[[]]},{"id":"8b604e72.45218","type":"function","z":"f362f592.f96bf8","name":"Database Func","func":"msg.childpath=\"MainDoor/FaceData/\"+msg.payload.id\nmsg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["803a4931.aa7d98"]]},{"id":"eed52441.9b5848","type":"delay","z":"48e1000b.69613","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":740,"wires":[["6bf5b952.7ffc98"]]},{"id":"d4954394.0feef","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/WhoIs","method":"set","value":"msg.payload","priority":"msg.priority","x":1030,"y":620,"wires":[[]]},{"id":"6e471f36.3e92f","type":"firebase.on","z":"f362f592.f96bf8","name":"Table","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/FaceData","atStart":true,"eventType":"value","queries":[],"x":690,"y":100,"wires":[["358d87f7.018b48"]]},{"id":"88dd8764.b90ee8","type":"ui_text","z":"f362f592.f96bf8","group":"39e9cbdd.7bd2b4","order":1,"width":"7","height":"8","name":"","label":"Urutan ID","format":"{{msg.payload}}","layout":"row-left","x":960,"y":100,"wires":[]},{"id":"e21d5c28.26f82","type":"ui_form","z":"f362f592.f96bf8","name":"Capture Face","label":"","group":"85fc555b.7d55f8","order":2,"width":0,"height":0,"options":[{"label":"id","value":"id","type":"text","required":true}],"formValue":{"id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":730,"y":500,"wires":[["87cdd4e4.4438a8"]]},{"id":"12dfb29d.9fdacd","type":"mqtt out","z":"f362f592.f96bf8","name":"","topic":"dev/NameCapture","qos":"0","retain":"","broker":"dcd43682.34bd28","x":1130,"y":500,"wires":[]},{"id":"7d6ffc5d.fbdef4","type":"mqtt in","z":"f362f592.f96bf8","name":"","topic":"dev/information","qos":"0","broker":"dcd43682.34bd28","x":920,"y":740,"wires":[["bdcc6381.56954"]]},{"id":"87cdd4e4.4438a8","type":"function","z":"f362f592.f96bf8","name":"Olah Message","func":"msg.payload= msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["12dfb29d.9fdacd"]]},{"id":"dfd5ac7b.4b8dd","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan Informasi Last Access","info":"","x":200,"y":280,"wires":[]},{"id":"949ba92c.fe78e8","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan Informasi ID","info":"","x":770,"y":60,"wires":[]},{"id":"9d2ab29b.54507","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan Kondisi Pintu","info":"","x":770,"y":180,"wires":[]},{"id":"65aa29e9.53b618","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan Kondisi PIR Sensor","info":"","x":190,"y":400,"wires":[]},{"id":"303a4c5d.4d9ac4","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan Informasi IP Address","info":"","x":200,"y":540,"wires":[]},{"id":"c19daaf2.120238","type":"comment","z":"f362f592.f96bf8","name":"Membuat data wajah baru","info":"","x":770,"y":440,"wires":[]},{"id":"45ecec1c.6bca54","type":"comment","z":"f362f592.f96bf8","name":"Training Wajah Baru","info":"","x":750,"y":600,"wires":[]},{"id":"13a36c00.7327e4","type":"mqtt in","z":"48e1000b.69613","name":"","topic":"dev/id","qos":"0","broker":"dcd43682.34bd28","x":1490,"y":620,"wires":[["e54c6031.a0b0a"]]},{"id":"7c5dc5c4.8c53ac","type":"comment","z":"48e1000b.69613","name":"Mengirim gambar wajah","info":"","x":1540,"y":580,"wires":[]},{"id":"78badf99.85da4","type":"firebase.on","z":"f362f592.f96bf8","name":"Table","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/History","atStart":true,"eventType":"value","queries":[],"x":1150,"y":100,"wires":[["a249537c.8b68f"]]},{"id":"af9fb568.b3e018","type":"comment","z":"f362f592.f96bf8","name":"Menampilkan History Access","info":"","x":1220,"y":58,"wires":[]},{"id":"cde86599.db04c8","type":"ui_button","z":"f362f592.f96bf8","name":"","group":"11942395.124b0c","order":6,"width":0,"height":0,"passthru":false,"label":"Lock The Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":733,"y":821.3333129882812,"wires":[["d1e42186.e5be7"]]},{"id":"73e44a34.522454","type":"ui_button","z":"f362f592.f96bf8","name":"","group":"11942395.124b0c","order":7,"width":0,"height":0,"passthru":false,"label":"Unlock the Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":732,"y":868,"wires":[["d1e42186.e5be7"]]},{"id":"d1e42186.e5be7","type":"mqtt out","z":"f362f592.f96bf8","name":"","topic":"dev/condition","qos":"0","retain":"","broker":"dcd43682.34bd28","x":932,"y":847,"wires":[]},{"id":"259f6ad8.46aab6","type":"firebase.on","z":"f362f592.f96bf8","name":"Refresh Name Command","firebaseconfig":"f9ad1707.b983e8","childpath":"MainDoor/FaceData","atStart":true,"eventType":"value","queries":[],"x":170,"y":180,"wires":[["308544b0.a7e3ec"]]},{"id":"308544b0.a7e3ec","type":"mqtt out","z":"f362f592.f96bf8","name":"","topic":"dev/NameData","qos":"0","retain":"","broker":"dcd43682.34bd28","x":420,"y":180,"wires":[]},{"id":"358d87f7.018b48","type":"tableify","z":"f362f592.f96bf8","name":"Table ID","before":"This is the list of ID","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":820,"y":100,"wires":[["88dd8764.b90ee8"]]},{"id":"a249537c.8b68f","type":"tableify","z":"f362f592.f96bf8","name":"Table ID","before":"TABEL HISTORY","after":"","tableStyle":"padding:5px;margin:5px;","theadStyle":"padding:5px;margin:5px;","tbodyStyle":"padding:5px;margin:5px;","trStyle":"padding:5px;margin:5px;","tdStyle":"padding:5px;margin:5px;","x":1280,"y":100,"wires":[["9b181f6e.ebd79"]]},{"id":"a4e97b21.6b09f8","type":"ui_led","z":"f362f592.f96bf8","group":"11942395.124b0c","order":3,"width":0,"height":0,"label":"Door Indicator","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"Door Led","x":980,"y":240,"wires":[]},{"id":"f8ec54c4.8cb0c8","type":"ui_led","z":"f362f592.f96bf8","group":"11942395.124b0c","order":4,"width":0,"height":0,"label":"Recognizing Face","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"name":"PIR Sensor","x":370,"y":460,"wires":[]},{"id":"53337c66.c55f84","type":"rpi-gpio in","z":"48e1000b.69613","name":"Push Button","pin":"29","intype":"tri","debounce":"25","read":false,"x":170,"y":640,"wires":[["112e58bc.d9e127"]]},{"id":"112e58bc.d9e127","type":"trigger","z":"48e1000b.69613","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":400,"y":640,"wires":[["c2b04df5.9f677"]]},{"id":"99f0daad.fb3fb8","type":"rpi-gpio in","z":"48e1000b.69613","name":"Limit Switch","pin":"32","intype":"down","debounce":"25","read":true,"x":170,"y":720,"wires":[["883f0da0.2ed31"]]},{"id":"883f0da0.2ed31","type":"trigger","z":"48e1000b.69613","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":400,"y":720,"wires":[["c2b04df5.9f677"]]},{"id":"e7580a32.923d68","type":"exec","z":"48e1000b.69613","command":"","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Send Email","x":1990,"y":620,"wires":[[],[],[]]},{"id":"116bf41f.ef495c","type":"function","z":"48e1000b.69613","name":"Olah Msg","func":"msg.payload= \"mpack -s \"  +msg.payload +\" /home/pi/AIY-voice-kit-python/src/examples/voice/guest.jpg hutomoivan@gmail.com\"\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":620,"wires":[["e7580a32.923d68"]]},{"id":"e54c6031.a0b0a","type":"function","z":"48e1000b.69613","name":"Olah Msg","func":"if(msg.payload=='unknown'){\n    msg.payload='\"'+ msg.payload + ' try to access the door\"'\n}\nelse{\n    msg.payload= '\"' + msg.payload + ' opened the door\"'\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":620,"wires":[["116bf41f.ef495c"]]},{"id":"c2db9941.e1abf8","type":"ui_button","z":"f362f592.f96bf8","name":"","group":"11942395.124b0c","order":7,"width":0,"height":0,"passthru":false,"label":"Recog Face","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":710,"y":920,"wires":[["8ff56bba.2363f8"]]},{"id":"8ff56bba.2363f8","type":"mqtt out","z":"f362f592.f96bf8","name":"","topic":"dev/anyHuman","qos":"0","retain":"","broker":"dcd43682.34bd28","x":940,"y":920,"wires":[]},{"id":"46f0749a.63643c","type":"comment","z":"48e1000b.69613","name":"Recognize wajah jika ada orang di depan pintu","info":"","x":1610,"y":40,"wires":[]},{"id":"453d403f.bf5dc","type":"mqtt out","z":"48e1000b.69613","name":"","topic":"dev/anyHuman","qos":"0","retain":"","broker":"dcd43682.34bd28","x":1700,"y":102.9999885559082,"wires":[]},{"id":"e30020d3.7a4c1","type":"blynk-ws-in-write","z":"48e1000b.69613","name":"Test Human","pin":"4","pin_all":0,"client":"fc7456a6.817a08","x":1510,"y":102.9999885559082,"wires":[["453d403f.bf5dc"]]},{"id":"9b181f6e.ebd79","type":"ui_template","z":"f362f592.f96bf8","group":"2f72648f.3ca40c","name":"","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1420,"y":100,"wires":[[]]},{"id":"a6b671c9.fb03d","type":"function","z":"48e1000b.69613","name":"Database Func","func":"var dateNow = new Date();\nvar timeAsString = dateNow.toString();\n\nmsg.childpath=\"MainDoor/History/\" +timeAsString + \"/name\"\nmsg.payload=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":680,"wires":[["41bda992.54bde8"]]},{"id":"5528f16e.953b1","type":"function","z":"48e1000b.69613","name":"Database Func","func":"var dateNow = new Date();\nvar timeAsString = dateNow.toString();\n\nmsg.childpath=\"MainDoor/History/\" +timeAsString + \"/confidence\"\nmsg.payload=msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":860,"wires":[["bcd8b066.4bff1"]]},{"id":"bcd8b066.4bff1","type":"firebase modify","z":"48e1000b.69613","name":"sett","firebaseconfig":"f9ad1707.b983e8","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1230,"y":860,"wires":[[]]}]